//main
main .container-main {
  margin: 52px auto;
}
.page-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: orange;
}

.contents {
  display: flex;
  height: 500px;
  width: 100%;
  & .img-wrapper {
    display: flex;
    align-items: center;
  }
  & .login-form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input {
      margin-bottom: 8px;
    }
    button {
      margin: 0 auto;
    }
    width: 70%;
  }
}
